<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.treichels.hott.ui.android"
    android:versionCode="4"
    android:versionName="v0.8.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:name=".MdlViewerApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme"
        tools:ignore="UnusedAttribute" >
        <activity android:name=".MdlViewerActivity" >

            <!-- Start activity via launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Start activity from file browser or Google Drive -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <!-- the pattern matching of intent-filter is rather limited, therefore we need to watch out for multiple periods in the path -->
                <!-- one period in path -->
                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.mdl"
                    android:scheme="file" />

                <!-- two periods in path -->
                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\..*\\.mdl"
                    android:scheme="file" />

                <!-- three periods in path -->
                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\..*\\..*\\.mdl"
                    android:scheme="file" />

                <!-- four periods in path -->
                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\..*\\..*\\..*\\.mdl"
                    android:scheme="file" />

                <!-- five periods in path -->
                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mdl"
                    android:scheme="file" />
            </intent-filter>

            <!-- Start activity via content provider (e.g. Downloads) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <!-- Note: there is no file extension when using a content provider -->
                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:scheme="content" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>