body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
p.Abbildung---rechtsbündig {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Abbildung---zentriert {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Textformate_Text {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:2px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Textformate_Text---eingerückt---1x {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:2px;
	margin-left:20px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.Textformate_Text---eingerückt---1x---mPkt {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:2px;
	margin-left:40px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Textformate_Text---eingerückt---2x {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:2px;
	margin-left:40px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li.Textformate_Text---eingerückt---mPkt {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:2px;
	margin-left:40px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.VORSICHT-WARNUNG_VORSICHT-WARNUNG----berschrift {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:2px;
	margin-left:57px;
	margin-right:0;
	margin-top:10px;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-57px;
	text-transform:uppercase;
	widows:1;
}
p.VORSICHT-WARNUNG_VORSICHT-WARNUNG-Text {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:6px;
	margin-left:57px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p._berschriften_-berschrift {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:2px;
	margin-left:0;
	margin-right:0;
	margin-top:4px;
	orphans:1;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._berschriften_-berschrift---eingerückt {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:2px;
	margin-left:20px;
	margin-right:0;
	margin-top:4px;
	orphans:1;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
li._berschriften_-berschrift---mPkt {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:2px;
	margin-left:20px;
	margin-right:0;
	margin-top:4px;
	orphans:1;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Bold {
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:bold;
}
p.ParaOverride-1 {
	margin-left:0px;
}
span.CharOverride-1 {
	font-size:18px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	font-family:"Calibri Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
p._idGenParaOverride-2 {
	margin-left:0px;
}
li._idGenParaOverride-3 {
	margin-left:20px;
}
._idGenDropcap-1 {
	float:left;
	font-size:4.353em;
	line-height:1;
	margin-bottom:-0.21em;
	margin-right:0.05em;
	margin-top:-0.072em;
}
img._idGenObjectAttribute-1 {
	height:15px;
	width:15px;
}
img._idGenObjectAttribute-2 {
	height:113px;
	width:200px;
}
img._idGenObjectAttribute-3 {
	height:39px;
	width:43px;
}
img._idGenObjectAttribute-4 {
	height:39px;
	width:389px;
}
img._idGenObjectAttribute-5 {
	height:15px;
	width:19px;
}
img._idGenObjectAttribute-6 {
	height:15px;
	width:26px;
}
img._idGenObjectAttribute-7 {
	height:17px;
	width:50px;
}
img._idGenObjectAttribute-8 {
	height:18px;
	width:15px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
